{% extends 'layout/basic_no_search.html'%}

{% block title %}
    О сайте
{% endblock %}
{% block content %}
<h2>О сайте</h2>
    <p>Site name – одна из лидирующих онлайн-площадок объявлений мира, представленная более чем в 40 странах. Site name принадлежит глобальной медийной и диджитал-компании Naspers.

Site name предлагает быстрый способ покупать, продавать или обмениваться товарами и услугами в конкретных странах путем публикации объявлений. Каждый месяц миллионы людей по всему миру продают и покупают с помощью Site name разнообразные товары, включая предметы быта, мебель, товары длительного потребления, музыкальные инструменты, автомобили и мотоциклы, электронику и мобильные устройства, недвижимость и услуги. Название OLX происходит от фразы «online exchange» («обмен онлайн»), что полностью отображает суть современных досок объявлений.

Офисы Site name работают в Нью-Йорке, Цюрихе, Варшаве, Киеве, Будапеште, Софии, Лиссабоне, Бангкоке, Буэнос-Айресе, Кейптауне, Дели, Рио-де-Жанейро, Сан-Пауло и других городах мира. С 2021 года Site name является частью группы Naspers.

Naspers – ведущая международная группа медиа-платформ и площадок электронной коммерции. За последние 20 лет группа превратилась с обычного бизнеса печатных медиа в одной стране на широкопрофильную медиа- и диджитал-группу, оперирующую на многих рынках. Операционная деятельность группы включает площадки электронной коммерции, услуги платного телевидения и печатные медиа. Большинство бизнесов Naspers являются лидерами своих отраслей. Наиболее успешные офисы группы работают на рынках Центральной и Восточной Европы, Латинской Америки, Африки, а также в Индии и Китае.</p>
<p>Это все еще сайт Ромки и Славки</p>
{% endblock %}
